.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10rem 20rem 5rem 20rem;
}
.faq-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.faq-icon{
    margin-bottom: 4rem;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align:center;

}
.input-cont{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;   
    background-color: rgb(238, 238, 238);   
    border-radius: 40px;
    
}
.search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:2rem;
    background-color: rgb(238, 238, 238);   
    border: none;
    padding:0.5rem 2rem;
    border-radius: 40px;
}
.input{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    width: 100%;
    border: none;
    background-color: rgb(238, 238, 238);   
    border-radius: 40px;
}
.button-cont{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
}
.button{
    padding: 1rem;
    margin: 2rem;
    border-radius: 20px;
    background-color: #00B4FF;
    color: black;
    border: none;
    font-weight: 900;
    transition: all 0.3s;
}
.button:focus{
    background-color: black;
    color: white;
}
.perguntas-faq{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 800px){
    .container{
        padding: 10rem 2rem 5rem 2rem;
    }
    .title{
        font-size: 1.2rem;
    }
    .button-cont{
        display: flex;
        flex-direction: column;
    }
    .button{
        margin:1rem;
    }
    .input{
        font-size: 1rem;
    }
}