.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding:0 10rem;
}
.duvida-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 2.5rem;
    color: black;
    margin-bottom: 1rem;
    text-align: center;
}

.subtitle{
    font-weight: 600;
    margin-bottom: 2rem;
    text-align:center;
}
.btn-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0.5rem 1rem;
    border: none;
    background-color: #1628B7;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: 20px;
    transition: all 0.3s;
}
.btn:hover{
    background-color: var(--secondary);
    color: white;
}
.btn:first-of-type{
    margin-right: 2rem;
}

/* segundo container */

.pedir-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1628B7;
    padding: 3rem;
    border-radius: 30px;
    margin-bottom: 5rem;
    color: white;
}
.subtitle-pedir{
    font-weight: 900;
    text-align: center;
}
.subtitle-pedir:last-of-type{
    margin-bottom: 3rem;
}
.btn-pedir{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: var(--secondary);
    color: white;
    border: 1px solid var(--secondary);
    font-size: 1.5rem;
    border-radius: 20px;
    transition: all 0.3s;
}
.btn-pedir:hover{
    background-color: #1628B7;
    color: var(--secondary);
    border: 1px solid var(--secondary);
}